html {
  font-family: cursive;
  --peepo-color: RGB(92, 142, 55);
}

#links a {
  color: var(--peepo-color);
}

#links a:visited {
  color: var(--peepo-color);
}


#contenedor-campos {
  color: var(--peepo-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campo-completo {
  margin-bottom: 20px;
}

.campo-completo label {
  display: inline-block;
  width: 150px;
}

.campo-completo input {
  border: 2px solid var(--peepo-color);
  color: var(--peepo-color);
}

#campos-info-personal {
  margin-top: 20px;
}

#links {
  display: flex;
  flex-direction: column;
  align-items: unset;
  margin-top: 20px;
}

#links a {
  margin-top: 7px;
  text-align: center;
}

#btns {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#btns input{
    font-size: 15px;
    padding: 7px;
    background-color: white;
    color: var(--peepo-color);
    border: 2px solid var(--peepo-color);
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

#btns input:hover{
  background-color: var(--peepo-color);
  color: white;
}